$height = 600px
$width = 300px

.container
  display absolute
  border 1px solid
  width $width
  height $height
.nav
  float right
.page
  top $height
  position relative
  display none
.active
  display block
.circle
  position absolute
.big
  bottom 0%
  left 40%
  background-color black
  width 70px
  height 70px
.small
  bottom 3%
  left 45%
  background-color red
  width 40px
  height 40px
  animation orbit 4s linear infinite
.small:hover
  width 60px
  height 60px
  animation-play-state paused
@keyframes orbit
  from { transform: rotate(0deg) translateX(100px) rotate(0deg) }
  to   { transform: rotate(360deg) translateX(100px) rotate(-360deg) }
.menu
  display none
  background-color rgba(1, 1, 1, 0.6)
  margin 0 auto
  position fixed
  a
    display table

// vi:et:sw=2:ts=2
