///////////////////////////////////////////////////
// global variable

$height = 720px
$width = 480px

///////////////////////////////////////////////////
// global

.container
  display relative
  background-color #cccccc
  width 100%
  height 100%
.page
  height 90%
  position relative
  overflow scroll
  display none
  padding-bottom 2%

///////////////////////////////////////////////////
// global - navigator

.nav
  height 10%
  width 100%
  background-color #aaaaaa
  z-index 100
  display flex
  align-items center
  justify-content center
.active
  display block
.menu
  display none
  background-color rgba(1, 1, 1, 0.6)
  margin 0 auto
  position fixed
  z-index 999
  a
    display table
.nav i.align
  cursor pointer
  margin-right 20px

///////////////////////////////////////////////////
// page-01

#page-01
  .circle
    position absolute
  .big
    bottom 0%
    left 40%
    background-color black
    width 70px
    height 70px
  .small
    bottom 3%
    left 45%
    background-color red
    width 40px
    height 40px
    animation orbit 4s linear infinite
    cursor pointer
  .small:hover
    width 60px
    height 60px
    animation-play-state paused
  @keyframes orbit
    from { transform: rotate(0deg) translateX(100px) rotate(0deg) }
    to   { transform: rotate(360deg) translateX(100px) rotate(-360deg) }
  .detail
    position relative
    margin 0 auto
    width 70%
    display none
    top 9vh
    background-color #117495
    .title
      height 10vh
      background-color #222
    .content
      height 20vh
      background-color #666
  .detail.open
    display block

///////////////////////////////////////////////////
// page-01-1

#page-01-1
  .title
    position relative
    background-color #ddd
    margin 4% auto
    width 90%
    height 20vw
    display flex
    align-items center
    justify-content center
    font-size 10vw
  .list
    position relative
    margin 0 auto
    width 90%
    min-height 79%
    display flex
  .list .col.left
    height auto
    flex 1
  .list .col.right
    height auto
    flex 1
  .list .col.right .item
    float right
  .list .col.left .item
    float left
  .list .col .item
    margin-top 4%
    background-color #ddd
    min-height 20vh
    height auto
    padding-bottom 4%
    width 98%
    .cat
      font-size 3vw
      display flex
      align-items center
      justify-content center
      margin-left 2%
      margin-top 2%
      border-radius 4vw
      width 20%
      height 6vw
      background-color #666
    .image
      margin 2% auto
      width 90%
      height 20vw
      background-color #666
    .item-title
      word-break break-all
      margin 0 auto
      width 90%
      padding 2%
      display flex
      align-items center
      justify-content center
      font-size 3vw


// vi:et:sw=2:ts=2
