doctype html
html
  head
    meta(charset='utf-8')
    title Title
    link(href='app.css' rel='stylesheet')
    meta(name="viewport" content="initial-scale=1")
  body
    .container
      #nav
        i.ui.icon.align.justify

      #menu
        a(href='#page-01a') News
        a(href='#page-02') Personal
        a(href='#page-03') Global
        a(href='#page-04') Share

      .page#page-01a
        .work-title G-Puzzle
        a(href='#page-01b')
          .detail
            .title title
            .content contentcontent

      .page#page-01b
        .title 熱死病
        .list
          .col.left
          .col.right

      .page#page-01c
        .info-block
          .cat 症狀
          .title 不只太冷會死人，太熱也會死人
          .date 2016-02-01
          .image
          .content 不只太冷會死人，太熱也會死人不只太冷會死人，太熱也會死人不只太冷會死人，太熱也會死人不只太冷會死人，太熱也會死人不只太冷會死人，太熱也會死人

      .page#page-02
        .circle Sign in
        .sw-icon
          .facebook
          .twitter
        .sign-up Sign Up!

      .page#page-03

      .page#page-04

    script(src='app.js' type='text/javascript')

// vi:et:ft=ls:nowrap:sw=2:ts=2
