doctype html5
html
  head
    meta(charset='utf-8')
    title Title
    link(href='app.css' rel='stylesheet')
  body
    .page#page-01.active
      .nav
        a(href='#page-01') 01
        a(href='#page-02') 02
    .page#page-02
      .nav
        a(href='#page-01') 01
        a(href='#page-02') 02
    script(src='app.js' type='text/javascript')
// vi:et:ft=ls:nowrap:sw=2:ts=2
